loguru==0.7.2
lxml==5.2.2
mypy==1.10.1
numpy==2.0.0
pandas==2.2.2
pre-commit==3.7.1
pyetrade==2.0.1
pytest==8.2.2
pytest-mypy==0.10.3
python-dotenv==1.0.1
requests==2.32.3
robin-stocks==3.1.0
schedule==1.2.2
schwab-py==1.2.0
selenium==4.22.0
tda-api==1.6.0
ujson==5.10.0
undetected-chromedriver==3.5.5
pytz==2024.1
beautifulsoup4==4.12.3
black==24.4.0