numpy==1.26.4
pandas==2.2.1
pytz==2024.1
loguru==0.7.2
selenium==4.19.0
schedule==1.2.1
pyetrade==1.4.1
python-dotenv==1.0.1
beautifulsoup4==4.12.3
robin-stocks==3.0.6
tda-api==1.6.0
black==24.4.0
pytest==8.2.0
mypy==1.9.0
pre-commit==3.7.0
# pylint==3.1.0
pytest-mypy==0.10.3
